%html
  %head
    %title Tally
    %link{:type => "text/css", :rel => "stylesheet", :href => "style/main.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "bower_components/Ionicons/css/ionicons.css"}
  %body
    #tally 0
    #tab_label Tally
    .button_cont
      .button#plus
        %span.ion-plus-round
      %div
        .half-button#close
          %span.ion-close-round
        .half-button#minus
          %span.ion-minus-round
    #settings_overlay
      .setting_cont
        .setting_title Badge
        %span.ion-android-checkbox.checkbox#badge_ctrl
    #clear_overlay
      .clear_conf Are you sure you want to clear this tally?
      %button#clear_yes Yes
      %button#clear_no No
    %span#gear.ion-gear-a
    .tab_cont
      %span#left.ion-ios-arrow-back
      %span#right.ion-ios-arrow-forward
    %script{:src => "script/main-min.js"}
