%html
  %head
    %title Tally
    %link{:type => "text/css", :rel => "stylesheet", :href => "style/main.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "bower_components/Ionicons/css/ionicons.css"}
  %body
    #tally 0
    .button_cont
      .button#plus
        %span.ion-plus-round
      .button#close
        %span.ion-close-round
    #settings_overlay
      .setting_cont
        .setting_title Badge
        %span.ion-android-checkbox.checkbox#badge_ctrl
    %span#gear.ion-gear-a
    %script{:src => "script/main-min.js"}
