@font-face
	font-family: Roboto
	src: url(../assets/Roboto/Roboto-Regular.ttf)

$bg: #34495e
$wt: #ecf0f1

body
	padding: 0
	margin: 0
	background: $bg
	height: 125px
	width: 125px

#tally
	font-family: 'Roboto'
	font-size: 35px
	width: 100%
	text-align: center
	color: $wt
	padding: 25px 0

.button_cont
	width: 100%
	text-align: center
	position: relative
	bottom: 0
	background: $wt
	color: $bg
	cursor: pointer
	.button
		padding: 2.5px 0
		transition: all 0.5s
		&:hover
			background: darken($wt, 10%)
		span
			font-size: 20px
