@font-face {
  font-family: Roboto;
  src: url(../assets/Roboto/Roboto-Regular.ttf); }

body {
  padding: 0;
  margin: 0;
  background: #34495e;
  height: 125px;
  width: 125px; }

#settings_overlay {
  background: #34495e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.setting_cont {
  color: #ecf0f1;
  font-size: 20px;
  font-family: 'Roboto'; }
  .setting_cont .setting_title {
    font-size: 15px;
    margin-bottom: 5px; }
  .setting_cont .checkbox {
    cursor: pointer;
    display: block;
    text-align: center; }

#gear {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: #ecf0f1;
  cursor: pointer;
  transition: color 0.5s; }
  #gear:hover {
    color: #cfd9db; }

#tally {
  font-family: 'Roboto';
  font-size: 35px;
  width: 100%;
  text-align: center;
  color: #ecf0f1;
  padding: 25px 0; }

.button_cont {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  background: #ecf0f1;
  color: #34495e;
  cursor: pointer; }
  .button_cont .button {
    padding: 2.5px 0;
    transition: all 0.5s; }
    .button_cont .button:hover {
      background: #cfd9db; }
    .button_cont .button span {
      font-size: 20px; }
