@font-face
	font-family: Roboto
	src: url(../assets/Roboto/Roboto-Regular.ttf)

$bg: #34495e
$wt: #ecf0f1

body
	padding: 0
	margin: 0
	background: $bg
	height: 125px
	width: 125px

#tab_label
	position: absolute
	left: 0
	top: 7.5px
	font-family: "Roboto"
	font-size: 15px
	color: $wt
	text-align: center
	width: 100%

#gear
	position: absolute
	top: 5px
	right: 5px
	font-size: 20px
	color: $wt
	cursor: pointer
	transition: color 0.5s
	&:hover
		color: darken($wt, 10%)

#tally
	font-family: 'Roboto'
	font-size: 35px
	width: 100%
	text-align: center
	color: $wt
	padding: 50px 0 25px 0px

.button_cont
	width: 100%
	text-align: center
	position: relative
	bottom: 0
	color: $bg
	.half-button
		cursor: pointer
		padding: 2.5px 0
		transition: all 0.5s
		width: 50%
		float: left
		background: $wt
		&:hover
			background: darken($wt, 10%)
		span
			font-size: 20px
	.button
		cursor: pointer
		padding: 2.5px 0
		transition: all 0.5s
		background: $wt
		&:hover
			background: darken($wt, 10%)
		span
			font-size: 20px

.tab_cont
	position: absolute
	top: 5px
	left: 5px
	color: $wt
	font-size: 20px
	span
		cursor: pointer
		&:hover
			color: darken($wt, 10%)
		&:last-child
			margin-left: 5px

#settings_overlay
	background: $bg
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	visibility: hidden
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.setting_cont
	color: $wt
	font-size: 20px
	font-family: 'Roboto'
	.setting_title
		font-size: 15px
		margin-bottom: 5px
	.checkbox
		cursor: pointer
		display: block
		text-align: center



#clear_overlay
	visibility: hidden
	width: 100%
	height: 100%
	background: $bg
	position: absolute
	top: 0
	left: 0
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	z-index: 10

	.clear_conf
		text-align: center
		font-family: "Roboto"
		font-size: 15px
		color: $wt
	button
		width: 100px
		font-size: 12.5px
		font-family: "Roboto"
		background: wt
		outline: none
		border: none
		cursor: pointer
		margin-top: 10px
		border-radius: 5px
		background: $wt
		&:hover
			background: darken($wt, 10%)
	#clear_yes
		color: red
	#clear_no
		color: $bg

